In [11]:
import pandas as pd # dataset load
from sklearn.datasets import load_iris
# 계층적 군집 model
from scipy.cluster.hierarchy import linkage, dendrogram

In [23]:
df = pd.read_csv('../../cto_k8s/m_data_10.11.1.80:9091.csv', 
                 usecols=['time', 'cpu_value', 'memory_value'])

df.rename(columns={'cpu_value':'cpu', 'memory_value':'memory'}, inplace=True)

df['timestamp'] = pd.to_datetime(df.time, unit='s')
df.head()

         time       cpu    memory           timestamp
0  1596499200  0.565333  0.359691 2020-08-04 00:00:00
1  1596499800  0.571564  0.359799 2020-08-04 00:10:00
2  1596500400  0.543800  0.360392 2020-08-04 00:20:00
3  1596501000  0.534930  0.359795 2020-08-04 00:30:00
4  1596501600  0.569663  0.359930 2020-08-04 00:40:00

In [24]:
df.tail()

            time       cpu    memory           timestamp
3894  1598844000  3.012313  0.531181 2020-08-31 03:20:00
3895  1598844600  2.939557       NaN 2020-08-31 03:30:00
3896  1598845200  2.004364  0.534530 2020-08-31 03:40:00
3897  1598332200       NaN  0.511703 2020-08-25 05:10:00
3898  1598333400       NaN  0.510870 2020-08-25 05:30:00

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3899 entries, 0 to 3898
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   time       3899 non-null   int64
 1   cpu        3897 non-null   float64
 2   memory     3849 non-null   float64
 3   timestamp  3899 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1)
memory usage: 122.0 KB

In [28]:
df['cpu'] = df['cpu'].fillna(df['cpu'].mean())
df['memory'] = df['memory'].fillna(df['memory'].mean())

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3899 entries, 0 to 3898
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   time       3899 non-null   int64
 1   cpu        3899 non-null   float64
 2   memory     3899 non-null   float64
 3   timestamp  3899 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1)
memory usage: 122.0 KB

In [31]:
cols = list(df.columns)
df_x = df[cols[:4]]
df_x.head()

         time       cpu    memory           timestamp
0  1596499200  0.565333  0.359691 2020-08-04 00:00:00
1  1596499800  0.571564  0.359799 2020-08-04 00:10:00
2  1596500400  0.543800  0.360392 2020-08-04 00:20:00
3  1596501000  0.534930  0.359795 2020-08-04 00:30:00
4  1596501600  0.569663  0.359930 2020-08-04 00:40:00